
body {
  margin: 0px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: White;
  background-color: #141723
}

.name {
  margin-top: 0;
  font-size: 75px;
  position: relative;
  bottom: 750px;
  background-image: url(https://scitechdaily.com/images/White-Dwarf-Star-With-Planet.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: -400%;

  animation: animatedText 6.5s infinite alternate-reverse;
}
@keyframes animatedText{
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }
}

.programmer {
  margin-top: 0px;
  color: white;
  font-size: 25px;
  position: relative;
  bottom: 325px;


  background-image: url(https://scitechdaily.com/images/White-Dwarf-Star-With-Planet.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: -400%;

  animation: animatedText 6.5s infinite alternate-reverse;
}
@keyframes animatedText{
  from{
    background-position: 0%;
  }
  to{
    background-position: 100%;
  }

}

}
.top-container {
  background-color: #131725;
}
.middle-container {
  background-color: #131725;
}
.bottom-container {
  background-color: #131725;
}
.pro {
  text-decoration: underline;
}
.moon-pic {
  height: 800px;
  width: 800px;
  padding-top: 50px;
  position: relative;

}

.mountain-pic {
  position: absolute;
}
.top-cloud-pic {
  position: absolute;
  left: 150px;
  top: 1050px;
}
.mid-cloud-pic {
  position: absolute;
  right: 150px;
  top: 1185px;

}
.bottom-cloud-pic {
  position: absolute;
  left: 150px;
  top: 1425px;

}
.rocket-pic {
  position: fixed;
  left: 5px;
  height: 100px;
  width: 100px;
}
